<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
	crossorigin="anonymous">
	
	<link th:href="@{/css/registerPage.css}" rel="stylesheet"/>
</head>
<body>

	<div class="container">
		<h1>Register Page</h1>
		<p th:text="${emsg}" style="color: red;" />
		<p th:text="${smsg}" style="color: green;" />
		<form th:object="${registerDto}" th:action="@{/register}" method="post">
			<table>
				<tr>
					<td>Name :</td>
					<td><input type="text" th:field="*{name}" class="form-control"
						required></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td><input type="email" th:field="*{email}"
						class="form-control" required></td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><input type="password" th:field="*{password}"
						class="form-control" required></td>
				</tr>
				<tr>
					<td>Ph-no :</td>
					<td><input type="number" th:field="*{phno}"
						class="form-control" required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Register"
						class="btn btn-primary"></td>
				</tr>
			</table>
		</form>
		<a href="/">Login Here</a>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
		crossorigin="anonymous"></script>
</body>
</html>